<br>
<button type="submit" class="btn btn-primary" (click)="logOut()">Logout</button>

<br><br>

<a [routerLink]="'/employees'"> Employee List </a> <br>
<a [routerLink]="'/create-employee'"> Create Employee </a><br>


<br><br>

<div class="container">
    <h1>Employee Form</h1>
    <form #employeeForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
        required
        [(ngModel)]="model.name" name="name">
        </div>
  
      <div class="form-group">
        <label for="city">Ciudad</label>
        <input type="text" class="form-control" id="city"
        [(ngModel)]="model.city" name="city">
      </div>
  
      <div class="form-group">
        <label for="gender">Gender</label>
        <input type="text" class="form-control" id="gender"
        [(ngModel)]="model.gender" name="gender">
      </div>
  
      <div class="form-group">
        <label for="department">Department</label>
        <input type="text" class="form-control" id="department"
        [(ngModel)]="model.department" name="department">
      </div>
  
      <button class="btn btn-success" (click)="onSubmit(); employeeForm.reset()" [disabled]="!employeeForm.form.valid">Submit</button>
    </form>
</div>   
  